
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myTchatConvLabel" translate="tpJavaApp.tchatConv.home.createOrEditLabel">Create or edit a Tchat Conv</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.tchatConv.id">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.tchatConv.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="tpJavaApp.tchatConv.message" for="field_message">Message</label>
            <input type="text" class="form-control" name="message" id="field_message"
                    ng-model="vm.tchatConv.message"
                    required />
            <div ng-show="editForm.message.$invalid">
                <p class="help-block"
                    ng-show="editForm.message.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="tpJavaApp.tchatConv.dateSend" for="field_dateSend">Date Send</label>
                <div class="input-group">
                    <input id="field_dateSend" type="text" class="form-control" name="dateSend" uib-datepicker-popup="{{dateformat}}" ng-model="vm.tchatConv.dateSend" is-open="vm.datePickerOpenStatus.dateSend"
                    required/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('dateSend')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            <div ng-show="editForm.dateSend.$invalid">
                <p class="help-block"
                    ng-show="editForm.dateSend.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label translate="tpJavaApp.tchatConv.fk_idUser" for="field_fk_idUser">Fk Id User</label>
            <select class="form-control" id="field_fk_idUser" name="fk_idUser" ng-model="vm.tchatConv.fk_idUser" ng-options="user as user.idUser for user in vm.users track by user.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
