
<div>
    <h2><span translate="tpJavaApp.tchatConv.detail.title">Tchat Conv</span> {{vm.tchatConv.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span translate="tpJavaApp.tchatConv.message">Message</span></dt>
        <dd>
            <span>{{vm.tchatConv.message}}</span>
        </dd>
        <dt><span translate="tpJavaApp.tchatConv.dateSend">Date Send</span></dt>
        <dd>
            <span>{{vm.tchatConv.dateSend | date:'mediumDate'}}</span>
        </dd>
        <dt><span translate="tpJavaApp.tchatConv.fk_idUser">Fk Id User</span></dt>
        <dd>
            {{vm.tchatConv.fk_idUser.idUser}}
        </dd>
    </dl>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
