<div>
    <h2 translate="tpJavaApp.tchatConv.home.title">Tchat Convs</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="tchat-conv.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  translate="tpJavaApp.tchatConv.home.createLabel">
                        Create new Tchat Conv
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="message"><span translate="tpJavaApp.tchatConv.message">Message</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="dateSend"><span translate="tpJavaApp.tchatConv.dateSend">Date Send</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="fk_idUser.idUser"><span translate="tpJavaApp.tchatConv.fk_idUser">Fk Id User</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="tchatConv in vm.tchatConvs track by tchatConv.id">
                    <td><a ui-sref="tchat-conv-detail({id:tchatConv.id})">{{tchatConv.id}}</a></td>
                    <td>{{tchatConv.message}}</td>
                        <td>{{tchatConv.dateSend | date:'mediumDate'}}</td>
                    <td>
                        {{tchatConv.fk_idUser.idUser}}
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="tchat-conv-detail({id:tchatConv.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="tchat-conv.edit({id:tchatConv.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="tchat-conv.delete({id:tchatConv.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount"></jhi-item-count>
    </div>
    <uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
</div>
