
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myTchatCanalLabel" translate="tpJavaApp.tchatCanal.home.createOrEditLabel">Create or edit a Tchat Canal</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.tchatCanal.id">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.tchatCanal.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="tpJavaApp.tchatCanal.label" for="field_label">Label</label>
            <input type="text" class="form-control" name="label" id="field_label"
                    ng-model="vm.tchatCanal.label"
                    required />
            <div ng-show="editForm.label.$invalid">
                <p class="help-block"
                    ng-show="editForm.label.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="tpJavaApp.tchatCanal.dateCrea" for="field_dateCrea">Date Crea</label>
                <div class="input-group">
                    <input id="field_dateCrea" type="text" class="form-control" name="dateCrea" uib-datepicker-popup="{{dateformat}}" ng-model="vm.tchatCanal.dateCrea" is-open="vm.datePickerOpenStatus.dateCrea"
                    required/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('dateCrea')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            <div ng-show="editForm.dateCrea.$invalid">
                <p class="help-block"
                    ng-show="editForm.dateCrea.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
