
<div>
    <h2><span translate="tpJavaApp.tchatCanal.detail.title">Tchat Canal</span> {{vm.tchatCanal.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span translate="tpJavaApp.tchatCanal.label">Label</span></dt>
        <dd>
            <span>{{vm.tchatCanal.label}}</span>
        </dd>
        <dt><span translate="tpJavaApp.tchatCanal.dateCrea">Date Crea</span></dt>
        <dd>
            <span>{{vm.tchatCanal.dateCrea | date:'mediumDate'}}</span>
        </dd>
    </dl>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
