/* CSS - Projet Java
AMIR - GREG : RILA14
*/

.aCenter{text-align:center;}
.marT5px{margin-top:5px;}.marB5px{margin-bottom:5px;}.marTB5px{margin-top:5px;margin-bottom:5px;}


.grid, .grid > .header, .grid > .line {float:left;width:100%;}
.grid > .header {padding:5px;background:#ccc;font-weight:bold;}
.grid > .line {margin-bottom:5px;padding:5px;border-bottom:1px solid #ccc;}
