<div ng-cloak>
    <div class="row">
        <div class="col-md-12 aCenter marTB5px">
            Logo
        </div>
        <div class="col-md-12 marTB5px">
            <form name="form" role="form" novalidate ng-submit="vm.validForm()" show-validation>
                <div class="col-md-10"> 
                    <input type="text" class="form-control" id="searchName" name="searchName" placeholder="Search"
                           ng-model="vm.searchName" ng-minlength=1 ng-maxlength=50 required maxlength="50">
                </div>
                <div class="col-md-2 aCenter">
                    <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">Go !</button>
                </div>
            </form>
        </div>

        <div class="col-md-12">
            <h1 translate="search.title">Welcome, Java Hipster!</h1>
            <p class="lead" translate="search.subtitle">This is your searchpage</p>

            <div ng-switch="vm.isAuthenticated()">
                <div class="alert alert-success" ng-switch-when="true" translate="search.logged.message" translate-values="{username: '{{vm.account.login}}'}">
                    You are logged in as user "{{vm.account.login}}".
                </div>

                <div class="alert alert-warning" ng-switch-when="false" translate="global.messages.info.authenticated" translate-compile>
                    If you want to <a class="alert-link" href="" ng-click="vm.login()">sign in</a>, you can try the default accounts:<br/>- Administrator (login="admin" and password="admin") <br/>- User (login="user" and password="user").
                </div>

                <div class="alert alert-warning" ng-switch-when="false" translate="global.messages.info.register" translate-compile>
                    You don't have an account yet? <a class="alert-link" ui-sref="register">Register a new account</a>
                </div>
            </div>
        </div>
    </div>
</div>
